img {
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

body {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  &:visited {
    color: inherit;
  }
}
