$primary-color: #009EE0;
$secondary-color: #45337E;

$background-color: #FFF;
$background-color-light: #ECF1F3;

$primary-gradient: linear-gradient(-160deg, rgb(21, 185, 229) 7%, rgb(9, 55, 106) 90%);
$secondary-gradient: linear-gradient(rgb(150, 217, 242) 15%, rgb(134, 204, 239) 85%);

$text-color-white: #FFF;
$text-color-grey: #53585F;
