mixin card()
  article
    img(src="https://images.samsung.com/is/image/samsung/in-feature-gear-vr-r322--56643435?$FB_TYPE_A_JPG$", alt="Preview")
    div
      h2 Escape Room
      p Disruptive network effects direct mailing graphical user interface bandwidth.
      a(href="#", class="btn btn-primary") Enter VR
