extends layouts/detail

include components/_header
include components/_bar
include components/_list

block content
  +bar()
  +header('Escape Room', 'Probeer door middel van objecten in de kamer de juiste code voor het cijferslot te achterhalen.', 'no-margin')
  section
    h4 Overzicht
    +list('Case: Groepscase', 'Aantal spelers: 2', 'Competenties: Analytisch & Communicatief')
    h4 Omschrijving
    p Tijdens de selectiedag betreden de kandidaten een ruimte zonder enige vorm van instructie. Voor hun ligt een houten kist met een cijferslot en een viertal drop-in viewers. Ze werken aan het gezamenlijke doel om de houten (in de ‘echte wereld’) open te krijgen. De kandidaten kunnen niet in elkaars kamer kijken en mogen de head-mounted display niet afzetten tijdens hun sessie waardoor ze alleen met spraak met elkaar kunnen communiceren.
    a(href=link, class="btn btn-secondary") Start Kamer 1
    a(href=link, class="btn btn-secondary") Start Kamer 2
    a(href=link, class="btn btn-secondary") Start Kamer 3
    a(href=link, class="btn btn-secondary") Start Kamer 4
