extends layouts/homepage

include components/_nav
include components/_header
include components/_card

block content
  +nav()
  +header()
  section
    +card('Escape Room', 'Probeer door middel van objecten in de kamer de juiste code voor het cijferslot te achterhalen.', 'Lees meer', '#', 'https://images.samsung.com/is/image/samsung/in-feature-gear-vr-r322--56643435?$FB_TYPE_A_JPG$')
    +card('Soma Cube', 'Mechanische puzzel gebasseerd op de Soma Cube van Piet Hein.', 'Lees meer', '#', 'https://images.samsung.com/is/image/samsung/in-feature-gear-vr-r322--56643435?$FB_TYPE_A_JPG$')
    +card('Hotel Hints', 'Kamer met hints en puzzels in de vorm van een 360-graden foto.', 'Lees meer', '#', 'https://images.samsung.com/is/image/samsung/in-feature-gear-vr-r322--56643435?$FB_TYPE_A_JPG$')
    +card('The Manual', 'Weet door middel van een handleiding de code in de kamer te kraken.', 'Lees meer', '#', 'https://images.samsung.com/is/image/samsung/in-feature-gear-vr-r322--56643435?$FB_TYPE_A_JPG$')
