extends layouts/detail

include components/_header
include components/_bar
include components/_list

block content
  +bar()
  +header('Soma Cube', 'Mechanische puzzel gebasseerd op de Soma Cube van Piet Hein.', 'no-margin')
  section
    h4 Overzicht
    +list('Case: Individueel', 'Aantal spelers: 1', 'Competentie(s): Analytisch')
    h4 Omschrijving
    p In een lege witte ruimte staat voor je een cubus waar een paar puzzelstukken uit ontbreken teken op papier de ontbrekende puzzelstukken. In totaal bestaat de cubus uit 7 onderdelen die samen een geheel vormen.
    a(href="https://samhoudmedia.github.io/puzzle-cube-prototypes/", class="btn btn-secondary") Start VR
