.btn {
  border-radius: 5px;
  padding: .5em 1em;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;

  &-primary {
    color: $text-color-white !important;
    background: $primary-color;
    transition: background $easeIn;

    &:hover, &:focus {
      background: darken($primary-color, 20%)
    }
  }
}
