article {
  box-shadow: $light-shadow;
  background-color: $background-color;
  color: $primary-color;
  font-weight: 200;

  &:not(:last-child) {
    margin-bottom: 10vh;
  }

  div {
    padding: 1em;
  }
}
